core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
test.py
test2.py
test3.py
.venv
googlecred.json
mypepper.json
mypassword.json
api_details.py
design.txt
mongo_test.py
mongodb.txt
